{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}|Health Care</title>
    <link rel="preconnect" href="{% static 'hms/css/ https://fonts.googleapis.com' %}">
        
        <link rel="preconnect" href="{% static 'hms/css/https://fonts.gstatic.com' %}" crossorigin>
        
        <link href="{% static 'hms/css/https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap' %}" rel="stylesheet">

        <link href="{% static 'hms/css/bootstrap.min.css' %}"  rel="stylesheet">

        <link href="{% static 'hms/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{%static 'hms/css/owl.carousel.min.css' %}" rel="stylesheet">

        <link href="{%static 'hms/css/owl.theme.default.min.css'%}" rel="stylesheet">

        <link href="{%static 'hms/css/templatemo-medic-care.css'% }" rel="stylesheet">
</head>

    <body id="top">
    
        <main>

            <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
                <div class="container">
                    <a class="navbar-brand mx-auto d-lg-none" href="{% url 'home' %}">
                        Health care
                        <strong class="d-block">Health Specialist</strong>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>

                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">About</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'timeline' %}">Timeline</a>
                            </li>

                            <a class="navbar-brand d-none d-lg-block" href="{% url 'home' %}">
                                Health Care
                                <strong class="d-block">Health Specialist</strong>
                               
                                    <a class="nav-link" style="margin-top:32px"><strong class="d-block">WELCOME TO {{user}}</strong></a>
                                   
                            </a>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'testimonials' %}">Testimonials</a>
                            </li>

                            <li class="nav-item">

                                <a class="nav-link" href="{% url 'booking' %}">Booking</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Contact</a>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Log In</a>

                            </li>

                            <!--<li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">REGISTER</a>-->

                            </li>

                          
                        </ul>
                    </div>

                </div>
            </nav>

            <section class="hero" id="hero">
                <div class="container">
                    <div class="row">

                        <div class="col-12">
                            <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'hms/images/portrait-successful-mid-adult-doctor-with-crossed-arms.jpg' %}" class="img-fluid" alt="">
                                    </div>

                                    <div class="carousel-item">
                                        <img src="{% static 'hms/images/young-asian-female-dentist-white-coat-posing-clinic-equipment.jpg' %}" class="img-fluid" alt="">
                                    </div>

                                    <div class="carousel-item">
                                        <img src="{% static 'hms/images/doctor-s-hand-holding-stethoscope-closeup.jpg' %}" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="heroText d-flex flex-column justify-content-center">

                                <h1 class="mt-auto mb-2">
                                    Better
                                    <div class="animated-info">
                                        <span class="animated-item">health</span>
                                        <span class="animated-item">days</span>
                                        <span class="animated-item">lives</span>
                                    </div>
                                </h1>

                                <p class="mb-4">Health Care is a Bootstrap 5 Template provided by TemplateMo website. Credits go to FreePik and RawPixel for images used in this template.</p>

                                <div class="heroLinks d-flex flex-wrap align-items-center">
                                    <a class="custom-link me-4" href="{% url 'about' %}" data-hover="Learn More">Learn More</a>

                                    <p class="contact-phone mb-0"><i class="bi-phone"></i> 010-020-0340</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
<div>{% block body %}{% endblock body %}</div>



<footer class="site-footer section-padding" id="contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-5 me-auto col-12">
                <h5 class="mb-lg-4 mb-3">Opening Hours</h5>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex">
                        Sunday : Closed
                    </li>

                    <li class="list-group-item d-flex">
                        Monday, Tuesday - Firday
                        <span>8:00 AM - 3:30 PM</span>
                    </li>

                    <li class="list-group-item d-flex">
                        Saturday
                        <span>10:30 AM - 5:30 PM</span>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-6 col-12 my-4 my-lg-0">
                <h5 class="mb-lg-4 mb-3">Our Clinic</h5>

                <p><a href="mailto:hello@company.co">hello@company.co</a><p>

                <p>123 Digital Art Street, San Diego, CA 92123</p>
            </div>

            <div class="col-lg-3 col-md-6 col-12 ms-auto">
                <h5 class="mb-lg-4 mb-3">Socials</h5>

                <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                    <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-12 ms-auto mt-4 mt-lg-0">
                <p class="copyright-text">Copyright © Health Care 2021 
                <br><br>Design: Shweta Jha</p>
            </div>

        </div>
    </section>

    

<!-- JAVASCRIPT FILES -->
<script src="{% static 'hms/js/jquery.min.js' %}"></script>
<script src="{% static 'hms/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'hms/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'hms/js/scrollspy.min.js' %}"></script>
<script src="{% static 'hms/js/custom.js' %}"></script>
<!--
    TemplateMo 566 Medic Care

https://templatemo.com/tm-566-medic-care

-->
</body>
</html>