<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    {% extends 'hms/main.html' %}
    {% load static %}
    {% block title %}REGISTER{% endblock title %}
    {% block body %} 
    <form method="POST">
        {% csrf_token %}
        
        <table border="3" style=" margin:120px; background-color: gray">
            <tr><td colspan="2"><h1>REGISTER YOURSELF</h1></td></tr>
            {{forms}}
            <tr><td><button type="submit">register</button></td></tr>
            
            <tr><td colspan="2" style="background-color:beige"><a href="{% url 'login'  %}">Already an account? Go to login</a></td></tr>
        </table>
        

    </form>{% endblock body %}
   

</html>